.mappy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.observationImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}