.ObservationBlock{
    margin-top: 1rem;
    width: 65vw;
}

.ObservationContainer{
    height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 5px;
  }
    ::-webkit-scrollbar-track {
    background: #10171a; 
    background-clip: content-box;
  }
    ::-webkit-scrollbar-thumb {
    background: #7d8e7e; 
    border-radius: 10px;
    height: 15px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d4d6c6; 
} 
  

.observation{
    background-color: #d4d6c6;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    border-radius: 5px;
    border-top: 20px solid #a6b3a7;
}

.observationImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.observationBody{
    margin-left: 10px;
}

h4{
    color: #7d8e7e;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.buttons a{
    padding: 0
}

@media only screen and (max-width: 870px){
    .ObservationBlock{
        width: 100vw;
    }
    .ObservationContainer{
        width: 100vw;
    }
    .observation{
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}