body{
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
  
.mainImage{
    background: url(https://images.unsplash.com/photo-1577558727018-e80c441a9387?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fit;
    background-attachment: fixed;
    width: 100vw;
    height: 20vh;
    position: relative;
    z-index: 1;
    border-bottom: 10px solid #10171a;
}

.filter{
    background-color: rgba(13, 18, 20, 0.719);
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
    
.boxHeading{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 50px;
   height: 20vh;
}

.heading{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 200px;
    color: #e7e8dd;
    font-weight: 200px;
    font-weight: 300px;
}

.navbar{
    background-color: #10171a;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    justify-content: center;
    position: fixed;
}

.link{
    color: #e7e8dd;
    padding: 5px;
    text-decoration: none;
}

.link:hover{
    color: #7d8e7e
}

@media only screen and (max-width: 870px){
    .ObservationBlock{
        width: 100vw;
    }
    .ObservationContainer{
        width: 100vw;
    }

    .observation{
        display: flex;
        flex-direction: column;
    }
}