body{
    background-color: #e7e8dd;
    color: #10171a;
    margin: 0;
    overflow: hidden;
}

.landing{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sideBar{
    background-image: url("https://i.imgur.com/vUIeSyY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45vw;
    height: 100vh;
    border-right: 20px solid #10171a;
}

.sideImg{
    width: 100%;
}

.login{
    padding: 25px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
    position: relative;
}

.birdUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    z-index: 5;
}

strong{
    color: #7d8e7e;
}

.emblem{
    width: 60%;
    height: 60%;
    z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .emblem {
        animation: emblem-spin infinite 15s linear;
    }
}

@keyframes emblem-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button{
    border: none;
    font-weight: bold;
    width: 170px;
    border-radius: 5px;
    background-color: #a6b3a7;
    padding: 10px;
    margin-top: 15px;
}

button:hover{
    background-color: #7d8e7e;
}

@media only screen and (max-width: 790px){
    .landing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        overflow-y: auto;
        /* overflow-x: hidden; */
    }
    .sideBar{
        width: 100vw;
        height: 35vh;
        border: none;
    }
    .login{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 55vh; */
        border-top: 20px solid #10171a;
    }
    .birdUp{
        z-index: 2;
        font-size: 5em;
    }
    .emblem{
        position: relative;
        z-index: 1;
        top: 15%;
        padding: 10px;
        width: 70%;
        height: 70%;
    }
    button{
        margin-top: 0px;
        margin-bottom: 15px;
    }
}