.single{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95vh;
    padding: 20px;
}

.imageDiv{
    width: 50vw;
}

.imageDiv img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.data{
    padding: 25px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit:cover;
}

.observationInfo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 25px;
}

.commentData{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

a{
    text-decoration: underline;
    color: #7d8e7e;
}

.commentData a:hover{
    text-decoration: none;
    color: #10171a;
}

hr{
    border: 0;
    margin-top: -10px;
    height: 2px;
    background: #a6b3a7;
    width: 95%;
}

a:hover{
    text-decoration: none;
    color: #10171a;
}


@media only screen and (max-width: 790px){
    .body{
        min-height: 100vh;
    }

    .single{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 0;
    }

    .imageDiv{
        width: 100vw;
    }
    
    .imageDiv img{
        padding: 15px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }

    .data{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 20px solid #10171a;
    }
}
