.single{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95vh;
}

.imageDiv{
    width: 45vw;
    height: 95vh;
    border-right: 20px solid #10171a;
}

.observationImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data{
    padding: 25px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit:cover;
}

.observationInfo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 25px;
}

.commentData{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 95%;
}

a{
    text-decoration: underline;
    color: #7d8e7e;
}

.commentData a:hover{
    text-decoration: none;
    color: #10171a;
}

hr{
    border: 0;
    margin-top: -10px;
    height: 2px;
    background: #a6b3a7;
    width: 95%;
}

a:hover{
    text-decoration: none;
    color: #10171a;
}


@media only screen and (max-width: 790px){
    .single{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
    }
    .imageDiv{
        display: flex;
        align-items: center;
        width: 100vw;
        height: auto;
        border: none;
    }
    .imageDiv img{
        width: 100%;
        height: 100vh;
    }
    .data{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 20px solid #10171a;
    }
}
