.observation{
    background-color: #d4d6c6;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.observationImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.observationBody{
    margin-left: 10px;
}

h4{
    color: #7d8e7e;
}